body {
  font-family: Arial, Helvetica, serif;
  background-color: #131313;
  width: min(100% - 2rem, 600px);
  margin-inline: auto;
}

a, body {
  color: #FF8424;
}

img {
  max-width: min(100%, 400px);
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.header a {
  width: 20%;
}
